
{{#each products}}
<div>
    <ul>
        <li>
            {{this.title}}
        </li>
        <li>
            {{this.price}}
        </li>
        <li>
            {{this.department}}
        </li>
        <li>
            {{this.stock}}
        </li>
        <li>
            {{this.description}}
        </li>
        <li>
            {{this.image}}
        </li>




    </ul>
<hr>
</div>
{{/each}}