<div>
    {{#if exist}}
        {{#if session.user}}
            <H1>bienvenido {{session.user.first_name}}</H1>
            <h2>tu rol es : {{session.user.rol}}</h2>
            <form action="/api/session/logout" method="GET"><button>Logout</button></form>
            {{else}}
            <h1>no ingreso usuario</h1>
        {{/if}}
        {{#each payload}}
            <li>
                <strong>Nombre: </strong>{{this.title}}-
                <strong>id: </strong>{{this._id}}
                <strong>price:</strong>{{this.price}}
                <strong>stock:</strong>{{this.stock}}
                <button class="postProducto" data-id="{{this.id}}">agregar al carrito</button>
            </li>
        {{/each}}
        {{#if hasPrevPage}}
        <a href="/api/products?page={{prevPage}}"><button>Atras</button></a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}

    {{else}}
    <h1>No hay productos</h1>
    {{/if}}
</div>
<hr>
<div>
    <h2>info de envio</h2>
    <li>status: {{status}}</li>
    <li>totalPages: {{totalPages}}</li>
    <li>hasPrevPage: {{hasPrevPage}}</li>
    <li>hasNextPage: {{hasNextPage}}</li>
    <li>prevPage: {{prevPage}}</li>
    <li>nextPage: {{nextPage}}</li>
    <LI>page: {{page}}</LI>
    <li>nextLink: {{nextLink}}</li>
    <li>prevLink: {{prevLink}}</li>
</div>

<script>

document.addEventListener("DOMContentLoaded",function(){
    let botones = document.getElementsByClassName("postProducto")
    for(let i = 0; i < botones.length; i++){
        botones[i].addEventListener("click", function(){
            let objetoId = this.getAttribute("data-id")
            enviarAlCarrito(objetoId)
        })
    }
})

function enviarAlCarrito(objetoId){

    fetch(`api/cart/645ff5f7d43ade4e65d5993e/products/${objetoId}`,{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body: JSON.stringify({objetoId: objetoId})
    })
    .then(function(response){
        console.log(response)
    })
    .catch(function(error){
        console.error("Error:", error)
    })
}

</script>