<div>
    {{#if exist}}
        {{#if session.user}}
            <H1>bienvenido {{session.user.first_name}}</H1>
            <h2>tu rol es : {{session.user.rol}}</h2>
            {{!-- <h3>tu id es: {{session.user.}}</h3> --}}
            <form action="/api/session/logout" method="GET"><button>Logout</button></form>
            <hr>
            <a href="/pruebas/mail"><button>mail</button></a>
            <a href="/api/message/chatSocket"><button>chat</button></a>
            <a href="/crearProducto" class="adminRol" premium="true" ><button>Crear Producto</button></a>
            {{else}}
            <h1>no ingreso usuario</h1>
        {{/if}}
        {{#each payload}}
            <li>
                <strong>Nombre: </strong>{{this.title}}-
                <strong>id: </strong>{{this._id}}
                <strong>price:</strong>{{this.price}}
                <strong>stock:</strong>{{this.stock}}
                <button class="adminRol" data-id="{{this.id}}" data-class= "botonDelete" data-owner="{{this.owner}}">eliminar Producto</button>
                <button class="userRol" data-id="{{this.id}}" data-class= "botonCompra" data-owner="{{this.owner}}">agregar al carrito</button>

            </li>
        {{/each}}
        
        <a href="/api/cart/{{session.user.cart}}" class="userRol"><button>Ver Carrito</button></a>
        {{#if hasPrevPage}}
        <a href="/api/products?page={{prevPage}}"><button>Atras</button></a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}

    {{else}}
    <h1>No hay productos</h1>
    {{/if}}
</div>
<hr>
<div class="adminRol">
    <h2>info de envio</h2>
    <li>status: {{status}}</li>
    <li>totalPages: {{totalPages}}</li>
    <li>hasPrevPage: {{hasPrevPage}}</li>
    <li>hasNextPage: {{hasNextPage}}</li>
    <li>prevPage: {{prevPage}}</li>
    <li>nextPage: {{nextPage}}</li>
    <LI>page: {{page}}</LI>
    <li>nextLink: {{nextLink}}</li>
    <li>prevLink: {{prevLink}}</li>
    <li id="cart-id">cart_id: {{session.user.cart}}</li>
</div>

<script>
var userRol = "{{session.user.rol}}"
let userMail="{{session.user.email}}"
document.addEventListener("DOMContentLoaded",function(){
    let elementosParaUsers = document.getElementsByClassName("userRol")
    let elementosParaAdmins= document.getElementsByClassName("adminRol")
    let elementosParaPremium= document.querySelectorAll(`[premium ="true"]`)
    let elementoCID= document.getElementById("cart-id")
    let botonesCompra = document.querySelectorAll(`[data-class= "botonCompra"]`)
    let botonesDelete = document.querySelectorAll(`[data-class= "botonDelete"]`)



    let CID = elementoCID.textContent.split(":")[1].trim() //e utiliza split(":") para dividir el contenido de texto en dos partes, separadas por el ":". Luego, se accede a la segunda parte utilizando [1], que corresponde al número "id" en este caso. Se utiliza trim() para eliminar cualquier espacio en blanco adicional alrededor del número.
   
    for(let i = 0; i < elementosParaAdmins.length; i++){

        if (userRol !=="admin"){
             elementosParaAdmins[i].style.display="none"
        }

    }

        for(let i = 0; i < elementosParaPremium.length; i++){

        if (userRol ==="premium"){
             elementosParaAdmins[i].style.display="block"



             
        }

    }

 



    for(let i = 0; i < elementosParaUsers.length; i++){
         

         
        if(userRol == "user"){
                  elementosParaUsers[i].addEventListener("click", function(){
            let objetoId = this.getAttribute("data-id")
            enviarAlCarrito(objetoId,CID)
        })
            
        }
        else{
            elementosParaUsers[i].style.display = "none"
        }
    }


        

    if (userRol ==="premium"){ //manejo del posicionamiento de los botones en premiun, FALTA OPTIMIZAR

        for(let i = 0; i < botonesCompra.length; i++){        //maneja los botones del rol premium
            if(botonesCompra[i].getAttribute("data-owner") !== userMail){
                botonesCompra[i].style.display="block"
            }

        }

        for(let i = 0; i < botonesDelete.length; i++){        //maneja los botones del rol premium
            if(botonesDelete[i].getAttribute("data-owner") == userMail){
                botonesDelete[i].style.display="block"
            }

        }
    }


})

function enviarAlCarrito(objetoId,CID){
        console.log(CID)
    fetch(`/api/cart/${CID}/products/${objetoId}`,{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body: JSON.stringify({objetoId: objetoId,CID: CID})
    })
    .then(function(response){
        console.log(response)
    })
    .catch(function(error){
        console.error("Error:", error)
    })
}

</script>